<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>微博</title>
</head>
<body>
<table>
    <h1 align="center" title="小姐姐">黑崎大怪兽</h1>
    <h4 th:text="#{login.tip}" th:align="center" th:title="#{login.tip}">不谈论喜欢与否,你永远是我的女神!BASE</h4>
    <h4 th:utext="#{login.tip}" th:align="center" th:title="#{login.tip}">不谈论喜欢与否,你永远是我的女神!DEFAULT</h4>
    <p th:align="center"><a href="https://weibo.com/u/2796825884">微博</a></p>
    <p th:align="center">© 2017‐2018</p>
    <p th:align="center"><a th:href="@{/index.html(lang='zh_CN')}">中文</a>
        <a th:href="@{/index.html(lang='en_US')}">English</a></p>
</table>
</body>
</html>